<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>angular 发布并获取评论列表</title>
<link href="style/weibo.css" rel="stylesheet" type="text/css" />
<style>
#tmp{display:none;}
</style>
<script type="text/javascript" src="angular.js"></script>
<script>
(function(){
	var app = angular.module('myApp',[]);
	app.controller('ctrl1',function($scope,$http){
		$scope.replies = [];
		$scope.pages= []  //{number:1},...,...
		$scope.curPage=1;

		// 获取页数
		$http.get('weibo.php',{params:{act:'get_page_count'}}).success(function(json){
			setCur(json.count);
		}).error(function(){
			console.log('获取页数失败')
		})

		function setCur(n){
			$scope.pages= [];
			for(var i=1;i<=n;i++){
				$scope.pages.push(i)
			}
		}

		// 获取显示数据
		$scope.getPage=getPage;
		getPage(1);
		
		function getPage(p){
			$scope.curPage=p;
			$http.get('weibo.php',{params:{act:'get',page:p}}).success(function(arr){
				console.log(arr)
				$scope.replies = arr;
			}).error(function(){
				console.log('获取失败')
			})

		}
		
		
		// 新增数据
		$scope.msgSubmit = function(){
			$http.get('weibo.php',{params:{act:'add',content:$scope.msgBody}}).success(function(res){
				$scope.replies.unshift(
					{   id: res.id,
						content: $scope.msgBody, 
						time: res.time, 
						acc: 0, 
						ref: 0
					});

				if($scope.replies.length>6){           //超过6条就从后面删
					$scope.replies.pop(); 
				}
				$scope.msgBody = '';
			}).error(function(){
				alert('提交失败')
			})
		}
       // 顶或者踩
       $scope.fnAcc = function(id){
       		$http.get('weibo.php',{params:{act:'acc',id:id}}).success(function(res){
				for(var i=0;i<$scope.replies.length;i++){
					if($scope.replies[i].id==id){
						$scope.replies[i].acc++;
					}
				}
			}).error(function(){
				alert('顶失败')
			})
       }
       $scope.fnRef = function(id){
       		$http.get('weibo.php',{params:{act:'ref',id:id}}).success(function(res){
				for(var i=0;i<$scope.replies.length;i++){
					if($scope.replies[i].id==id){
						$scope.replies[i].ref++;
					}
				}
			}).error(function(){
				alert('踩失败')
			})
       }



	});

})()
</script>
</head>

<body ng-app="myApp">
<div class="znsArea" ng-controller="ctrl1">
<!--留言-->
     <div class="takeComment">
        <textarea name="textarea" class="takeTextField" id="txt1" ng-model="msgBody"></textarea>
        <div class="takeSbmComment">
            <input type="button" class="inputs" value="" id="btn1" ng-click="msgSubmit()"/>
            <span>(可按 Enter 回复)</span>
        </div>
    </div>
<!--已留-->
    <div class="commentOn">
        <div class="noContent" ng-show="replies.length==0" ng-clock>暂无留言</div>
        <div class="messList" id="div_list">
        	<div class="messList" id="div_list">
	        	<div class="reply" ng-repeat="reply in replies">
	                <p class="replyContent">{{reply.content}}</p>
	                <p class="operation">
	                    <span class="replyTime">{{reply.time*1000 | date:'yyyy/MM/dd HH:mm:ss'}}</span>
	                    <span class="handle">
	                    	<a href="javascript:;" class="top" ng-click="fnAcc(reply.id)">{{reply.acc}}</a>
	                        <a href="javascript:;" class="down_icon" ng-click="fnRef(reply.id)">{{reply.ref}}</a>
	                    </span>
	                </p>
	            </div>
	        </div>
        </div>
        <div class="page">
        	 <a href="javascript:;" ng-repeat="item in pages"  ng-click="getPage(item)" ng-class="item==curPage ?'active':''">{{item}}</a> 
        </div>
    </div>
</div>
</body>
</html>
